<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="header :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
</head>

<body class="hidden-sn">
<!--Double navigation-->
<header th:replace="header :: header"></header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav elegant-color-dark">
            <ul class="custom-scrollbar">
                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light">
                        <a href="#">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7NJDLI2uPFBJN_dsOCavkJObbQf5kn1myxcHqIAgGOu5SMYGq"
                                class="img-fluid flex-center">
                        </a>
                    </div>
                </li>
                <!--/. Logo -->

                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <!--Account is only visible after logged in-->
                        <li>
                            <a class="collapsible-header waves-effect arrow-r font-weight-bold">
                                <i class="fa fa-user"></i>
                                Account
                                <i class="fa fa-angle-down rotate-icon"></i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Account Info</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Joined Events</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Proposed Events</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Buy History</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Sell History</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Order List</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r font-weight-bold">
                                <i class="fa fa-wrench"></i>
                                Component
                                <i class="fa fa-angle-down rotate-icon"></i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Category 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Category 2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r font-weight-bold">
                                <i class="fa fa-tag"></i>
                                Trading
                                <i class="fa fa-angle-down rotate-icon"></i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Newest</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Most Populare</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r font-weight-bold">
                                <i class="fa fa-calendar"></i>
                                Event
                                <i class="fa fa-angle-down rotate-icon"></i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Clothes</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Bikes</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Bike Components</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Other</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav white">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="fa fa-bars dark-grey-text"></i>
                </a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p class="font-weight-bold">Bike World or LOGO</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <!--Notification button-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link"><span class="clearfix d-none d-sm-inline-block white-text">Notification</span></a>-->
                <!--</li>-->
                <!--End Notification button-->
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" data-toggle="modal" data-target="#modalLRForm">
                        <span class="clearfix d-none d-sm-inline-block"><i class="fa fa-user"></i>Login/Register</span>
                    </a>
                </li>

                <!--Logged in account button-->
                <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"-->
                <!--aria-haspopup="true" aria-expanded="false">-->
                <!--<i class="fa fa-user"></i>-->
                <!--Account-->
                <!--</a>-->
                <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
                <!--<a class="dropdown-item" href="#">Action</a>-->
                <!--<a class="dropdown-item" href="#">Another action</a>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--</div>-->
                <!--</li>-->
                <!--End Logged in account button-->

            </ul>
        </nav>
        <!-- /.Navbar -->
        <!--Modal: Login / Register Form-->
        <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Modal cascading tabs-->
                    <div class="modal-c-tabs">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#logintab" role="tab"><i class="fa fa-user mr-1"></i>Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#registertab" role="tab"><i class="fa fa-user-plus mr-1"></i>Register</a>
                            </li>
                        </ul>

                        <!-- Tab panels -->
                        <div class="tab-content">
                            <!--Login Panel-->
                            <div class="tab-pane fade in show active" id="logintab" role="tabpanel">

                                <!--Body-->
                                <div class="modal-body mb-1">
                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalLRInput10">Email</label>
                                    </div>

                                    <div class="md-form form-sm mb-4">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalLRInput11">Password</label>
                                    </div>

                                    <div class="md-form form-sm mb-5">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkboxRemember" />
                                            <label class="form-check-label" for="checkboxRemember">Remember Me</label>
                                        </div>
                                    </div>

                                    <div class="text-center mt-2">
                                        <button class="btn btn-success">Login</button>
                                    </div>
                                </div>
                                <!--Footer-->
                                <div class="modal-footer">
                                    <div class="options text-center text-md-right mt-1">
                                        <p>Forgot <a href="#registertab" class="blue-text">Password?</a></p>
                                    </div>
                                </div>

                            </div>
                            <!--End Login Panel-->
                            <!--Register Panel-->
                            <div class="tab-pane fade" id="registertab" role="tabpanel">

                                <!--Body-->
                                <div class="modal-body">
                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-user prefix"></i>
                                        <input type="text" id="txtUsername" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="txtUsername">Username</label>
                                    </div>

                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="email" id="txtEmail" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="txtEmail">Email</label>
                                    </div>

                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="txtPassword" class="form-control form-control-sm ">
                                        <label data-error="wrong" data-success="right" for="txtPassword">Password</label>
                                    </div>

                                    <div class="md-form form-sm mb-4">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="txtConfirmPassword" class="form-control form-control-sm">
                                        <label data-error="wrong" data-success="right" for="txtConfirmPassword">Confirm
                                            password</label>
                                    </div>

                                    <div class="text-center form-sm mt-2">
                                        <button class="btn btn-danger mb-5">Register</button>
                                    </div>
                                </div>
                            </div>
                            <!--End Register Panel-->
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Login / Register Form-->


    </header>
    <!--Main Layout-->
    <div class="container-fluid blue-gradient pt-5">
        <div class="container pt-5 mb">
            <div class="row">
                <div class="col-2 pl-0 pr-0">
                    <div class="vertical-menu shadow">
                        <a href="#" class="font-weight-bold">Account Info</a>
                        <a href="#" class="font-weight-bold">Joined Events</a>
                        <a href="#" class="font-weight-bold">Proposed Events</a>
                        <a href="#" class="active font-weight-bold">Buy History</a>
                        <a href="#" class="font-weight-bold">Sell History</a>
                        <a href="#" class="font-weight-bold">Order List</a>
                    </div>
                </div>
                <div class="col-10 pl-3 pr-0">



                    <div class="white p-3 mb-5">
                        <table class="table table-hover table-bordered customtable" cellspacing="0" width="100%">
                            <thead>
                                <tr class="blue-gradient white-text">
                                    <th class="th-sm">Product Name
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Seller
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Quantity
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Status
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Order Date
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Total Price
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Action
                                            <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                        </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a class="btn-link">Some component</a></td>
                                    <td><a class="btn-link">Seller Name</a></td>
                                    <td class="text-center">2</td>
                                    <td class="text-center"><h6 class="text-success">Active</h6></td>
                                    <td>2011/04/25</td>
                                    <td>320,800 VND</td>
                                    <td class="text-center"><a class="btn-link text-danger font-weight-bold">Cancel</a></td>
                                </tr>
                                <tr>
                                    <td><a class="btn-link">Some component 2</a></td>
                                    <td><a class="btn-link">Seller Name</a></td>
                                    <td class="text-center">2</td>
                                    <td class="text-center"><h6 class="text-danger">Canceled</h6></td>
                                    <td>2011/04/25</td>
                                    <td>320,800 VND</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a class="btn-link">Some component 3</a></td>
                                    <td><a class="btn-link">Seller Name</a></td>
                                    <td class="text-center">2</td>
                                    <td class="text-center"><h6 class="text-dark">Done</h6></td>
                                    <td>2011/04/25</td>
                                    <td>320,800 VND</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div th:replace="footer :: footer"/>
</body>

</html>