<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="header :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
</head>

<body>
<!--Double navigation-->
<header th:replace="header :: header"></header>
<main>
    <div class="container">
        <!--Bread Crum Menu-->
        <nav class="breadcrumb white">
            <a class="breadcrumb-item text-danger" href="#">Home</a>
            <a class="breadcrumb-item text-danger" href="#">Component</a>
            <span class="breadcrumb-item active">Component Name</span>
        </nav>
        <!--End Bread Crum Menu-->

        <!--Product detail section-->
        <section>
            <div class="row">
                <!--Product Image Preview-->
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <img class="img-fluid" src="https://mcn-images.bauersecure.com/upload/295111/mhorn2011sya.jpg"
                         alt="First slide">
                </div>
                <!--End Product Image Preview-->

                <div class="col-lg-5 col-md-12 col-sm-12">
                    <p class="font-weight-bold h3">Product Name Goes Here</p>

                    <p>Short description sfjkskdfhsdkf fsksjdhfk dskf jskdf ksdhf fsdfs fs ksfkshfd sdfsdfj skdf ks
                        fjsdf hjks gdhsd.</p>

                    <dl class="row mt-2">
                        <dt class="col-sm-3">Category:</dt>
                        <dd class="col-sm-9"><a href="" class="text-danger"><span
                                class="badge primary-color">Bike</span></a></dd>

                        <dt class="col-sm-3">Location:</dt>
                        <dd class="col-sm-9">abdspodjfdsdsf</dd>

                        <dt class="col-sm-3">Manufaturer</dt>
                        <dd class="col-sm-9">Honda</dd>

                        <dt class="col-sm-3">Quantity</dt>
                        <dd class="col-sm-9">10/20</dd>
                    </dl>

                    <!--Table-->
                    <table id="tablePreview" class="table table-hover table-bordered table-sm res">
                        <!--Table head-->
                        <thead class="primary-color">
                        <tr class="white-text text-center">
                            <th class="font-weight-bold">Site name</th>
                            <th class="font-weight-bold">Price</th>
                            <th class="font-weight-bold w-20">Link</th>
                        </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                        <tr class="text-center">
                            <td class="align-middle">abc.com</td>
                            <td class="align-middle">100.000 VND</td>
                            <td class="align-middle"><a class="btn btn-danger btn-sm w-100">Go to</a></td>
                        </tr>
                        <tr class="text-center">
                            <td class="align-middle">abc.com</td>
                            <td class="align-middle">100.000 VND</td>
                            <td class="align-middle"><a class="btn btn-danger btn-sm w-100">Go to</a></td>
                        </tr>
                        <tr class="text-center">
                            <td class="align-middle">abc.com</td>
                            <td class="align-middle">100.000 VND</td>
                            <td class="align-middle"><a class="btn btn-danger btn-sm w-100">Go to</a></td>
                        </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>
        </section>
        <!--End Product detail section-->
    </div>

    <!--Item Description-->
    <div class="container p-5 border-bottom">
        <h1>Đây là chỗ nhúng Raw HTML vào</h1>
        <p>The area was a retreat for Hawaiian royalty in the 1800s who enjoyed surfing there on early forms of
            longboards.[2]

            A few small hotels opened in the 1880s. In 1893, Greek-American George Lycurgus leased the guest house
            of Allen Herbert and renamed it the "Sans Souci" (French for "without worries") creating one of the
            first beach resorts. Later that year Robert Louis Stevenson stayed at the resort; subsequently it
            became a popular destination for mainland tourists.[3] The area at coordinates 21°15′49″N 157°49′17″W
            is still called "Sans Souci Beach".[4]

            Waikiki has had erosion problems since the late-1800s, because hotels and homes were built too close to
            the natural shoreline, while seawalls and other structures blocked the natural ebb and flow of sand
            along the beach. By 1950, more than 80 structures, including seawalls, groins, piers and storm drains,
            occupied the Waikiki shoreline.[5]

            The area became filled with large resort hotels, such as the Hilton Hawaiian Village, Halekulani, the
            Hyatt Regency Waikīkī, Marriott Waikiki, Sheraton Waikīkī, and historic hotels dating back to the early
            20th century (such as the Moana Surfrider Hotel and the Royal Hawaiian Hotel). The beach hosts many
            events, including surf competitions, outdoor performances, hula dancing and outrigger canoe races. The
            many amenities, shops, and hotels enable Waikīkī to generate approximately 42 percent of Hawaiʻi's
            visitor revenue.[6]

            In the early 1900s, Waikīkī was home to many wetlands, which were believed to harbor disease-carrying
            mosquitoes. To get rid of the mosquitoes, islanders created the Ala Wai canal. The canal, originally
            known as the Waikīkī Drainage Canal, was created by a Hawaiian dredging company run by Walter F.
            Dillingham. The project took about seven years, 1921-1928.[7]

            In the early 20th century, Duke Kahanamoku became a well-known surfer in Waikiki. Throughout his life
            and after competing in the Olympics, many people around the world wanted to learn to surf. Duke's
            influence made Waikiki beach a surfing hotspot.[8] "Dukes", a club in Waikiki named for Kahanamoku,
            helped Don Ho produce music and hosted the longest-running show in Waikiki.[9]

            In the 1920s and 1930s sand was imported from Manhattan Beach, California, via ship and barge.[10]

            In the early 1900s, plans for the Ala Wai Canal were developed to help with drainage and seawalls and
            groynes began to appear. These helped build sand at one beach, but typically appropriated sand from
            others. Before 1950, Waikiki beaches were continuous. They became separated into sections, some with
            sandy beach and others without.

            Following World War II, Waikiki beach restoration efforts have occurred every few years. Sand was
            imported to this artificial beach from the 1920s to the 1970s, once by boat and barge from Southern
            California. 1,730 feet of shoreline was replenished at a cost of $2.4 million following chronic erosion
            of more than a foot a year.

            Importing stopped in the 1970s. In March of 1971, the Department of the Army Pacific Ocean Division,
            created a Draft Environmental Statement for the Kuhio Beach Sector of Waikīkī, which aimed to improve
            the overall quality and size of the fading and narrowing shoreline.[11]

            A partial restoration was completed in the spring of 2012. The project imported sand from nearby shoals
            and widened the 1,700-foot (520 m) long beach by about 37 feet (11 m) between the Royal Hawaiian Hotel
            concrete groyne and the Kūhiō Beach crib wall. The project temporarily restored the beach to its 1985
            shoreline.[12][13] Two aging sandbag groyne structures were also removed in 2012.[14]

            In 2017, beach erosion worsened with “king tides” along with elevated sea level. Honolulu's mayor
            stated: “I’m not a scientist, but I’ll get a jackhammer in there and remove all the concrete that’s
            there creating this backwash and sucking out more sand, plus it’s just downright dangerous.”
        </p>
    </div>
    <!--End Item Description-->
</main>
<div th:replace="footer :: footer"/>
<script>

</script>
</body>

</html>