<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="header :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
</head>

<body>
<!--Double navigation-->
<header th:replace="header :: header"></header>
<main>
    <div class="container">
        <!--Bread Crum Menu-->
        <nav class="breadcrumb white">
            <a class="breadcrumb-item text-danger" href="#">Home</a>
            <a class="breadcrumb-item text-danger" href="#">Component</a>
            <span class="breadcrumb-item active">Component Name</span>
        </nav>
        <!--End Bread Crum Menu-->

        <!--Product detail section-->
        <section>
            <div class="row">
                <!--Product Image Preview-->
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <img class="img-fluid" src="https://mcn-images.bauersecure.com/upload/295111/mhorn2011sya.jpg"
                         alt="First slide">
                </div>
                <!--End Product Image Preview-->

                <div class="col-lg-5 col-md-12 col-sm-12">
                    <p class="font-weight-bold h3">Product Name Goes Here</p>

                    <p>Short description sfjkskdfhsdkf fsksjdhfk dskf jskdf ksdhf fsdfs fs ksfkshfd sdfsdfj skdf ks
                        fjsdf hjks gdhsd.</p>

                    <dl class="row mt-2">
                        <dt class="col-sm-3">Category:</dt>
                        <dd class="col-sm-9"><a href="" class="text-danger"><span
                                class="badge primary-color">Bike</span></a></dd>

                        <dt class="col-sm-3">Location:</dt>
                        <dd class="col-sm-9">abdspodjfdsdsf</dd>

                        <dt class="col-sm-3">Manufaturer</dt>
                        <dd class="col-sm-9">Honda</dd>

                        <dt class="col-sm-3">Quantity</dt>
                        <dd class="col-sm-9">10/20</dd>
                    </dl>
                </div>
            </div>
        </section>
        <!--End Product detail section-->
    </div>


    <!-- Section: Recommend-->
    <section class="mt-5">
        <div class="container-fluid pb-3">
            <div class="container pb-5 pl-5 pr-5">
                <!-- Section heading -->
                <h3 class="h1-responsive mb-4 text-dark: text-center ">RECOMMENDED PRODUCTS</h3>
                <div class="row">
                    <div class="col-md-4 ">
                        <!-- Card -->
                        <div class="card card-cascade card-ecommerce">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                     class="card-img-top" alt="sample photo">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Category & Title -->
                                <a href="" class="text-muted">
                                    <h5>Helmet</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Tên Sản Phẩm</a>
                                    </strong>
                                </h4>
                                <!-- Description -->
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                    veniam
                                    elit.</p>
                                <!-- Card footer -->
                                <div class="card-footer px-1">
                                        <span class="float-left font-weight-bold">
                                            <strong>100.000 VNĐ</strong>
                                        </span>
                                    <span class="float-right">
                                            <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                Details >>
                                            </a>
                                        </span>
                                </div>
                            </div>
                            <!-- Card content -->
                        </div>
                        <!-- Card -->
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <!-- Card -->
                        <div class="card card-cascade card-ecommerce">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                     class="card-img-top" alt="sample photo">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Category & Title -->
                                <a href="" class="text-muted">
                                    <h5>Helmet</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Tên Sản Phẩm</a>
                                    </strong>
                                </h4>
                                <!-- Description -->
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                    veniam
                                    elit.</p>
                                <!-- Card footer -->
                                <div class="card-footer px-1">
                                        <span class="float-left font-weight-bold">
                                            <strong>100.000 VNĐ</strong>
                                        </span>
                                    <span class="float-right">
                                            <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                Details >>
                                            </a>
                                        </span>
                                </div>
                            </div>
                            <!-- Card content -->
                        </div>
                        <!-- Card -->
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <!-- Card -->
                        <div class="card card-cascade card-ecommerce">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                     class="card-img-top" alt="sample photo">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Category & Title -->
                                <a href="" class="text-muted">
                                    <h5>Helmet</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Tên Sản Phẩm</a>
                                    </strong>
                                </h4>
                                <!-- Description -->
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                    veniam
                                    elit.</p>
                                <!-- Card footer -->
                                <div class="card-footer px-1">
                                        <span class="float-left font-weight-bold">
                                            <strong>100.000 VNĐ</strong>
                                        </span>
                                    <span class="float-right">
                                            <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                Details >>
                                            </a>
                                        </span>
                                </div>
                            </div>
                            <!-- Card content -->
                        </div>
                        <!-- Card -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section: Recommend-->
</main>
<div th:replace="footer :: footer"/>
<script>

</script>
</body>

</html>