<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="header :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
</head>

<body>
<!--Double navigation-->
<header th:replace="header :: header"></header>
<!--Main Layout-->
<!--Search-->
<main>
    <!--Bread Crum Menu-->
    <div class="container">
        <nav class="breadcrumb white">
            <a class="breadcrumb-item" href="/home">Home</a>
            <a class="breadcrumb-item" href="/event">Event</a>
        </nav>
    </div>
    <!--End Bread Crum Menu-->

    <div class="container">
        <!-- Section heading -->
        <!--<h2 class="h2-responsive mb-5">Recommended Events</h2>-->
        <div id="carouselRecommendedEvents" class="carousel slide" data-ride="carousel">
            <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#carouselRecommendedEvents" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carouselRecommendedEvents" data-slide-to="1"></li>-->
                <!--<li data-target="#carouselRecommendedEvents" data-slide-to="2"></li>-->
            <!--</ol>-->
            <div class="carousel-inner" role="listbox" id="sliderEvent">
            </div>
            <a class="carousel-control-prev" href="#carouselRecommendedEvents" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRecommendedEvents" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- Controls -->
    <!--<div class="d-flex justify-content-center">-->
        <!--<a class="btn-floating shadow-none" href="#carouselRecommendedEvents" data-slide="prev">-->
            <!--<i class="fa fa-chevron-left black-text"></i>-->
        <!--</a>-->
        <!--<a class="btn-floating shadow-none" href="#carouselRecommendedEvents" data-slide="next">-->
            <!--<i class="fa fa-chevron-right black-text"></i>-->
        <!--</a>-->
    <!--</div>-->
    <!-- Controls -->

    <div class="container mt-5">
        <div class="container-fluid slideInUp">
            <h2 class="h2-responsive font-weight-bold text-md-center">OPEN FOR JOINING</h2>
            <!-- Section: Open for joining -->
            <section class="text-center">
                <!-- Carousel Wrapper -->
                <div id="openForJoiningCarousel" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <!-- Controls -->
                    <div class="col-md-12">
                        <div class="row justify-content-end mr-2">
                                    <a class="btn btn-outline-black float-left view-event"  href="/event/all">
                                        View All Events
                                    </a>
                        </div>
                    </div>
                    <!-- Indicators -->
                    <!-- Slides -->
                    <div id="sliderItemregistering" class="carousel-inner" role="listbox">
                    </div>
                    <div class="justify-content-center">
                        <a class="btn-floating shadow-none" href="#openForJoiningCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left black-text"></i>
                        </a>
                        <a class="btn-floating shadow-none" href="#openForJoiningCarousel" data-slide="next">
                            <i class="fa fa-chevron-right black-text"></i>
                        </a>
                    </div>
                    <!-- Slides -->
                </div>
                <!-- Carousel Wrapper -->

            </section>
            <!--End Section: Open for joining -->
        </div>
        <div class="container-fluid">
            <h2 class="h2-responsive font-weight-bold text-md-center">NEAR ME</h2>
            <!-- Section: Open for joining -->
            <section class="text-center">
                <!-- Carousel Wrapper -->
                <div id="comingSoonCarousel" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Slides -->
                    <div id="sliderItemComingSoon" class="carousel-inner" role="listbox">

                    </div>
                    <div class="justify-content-center">
                        <a class="btn-floating shadow-none" href="#comingSoonCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left black-text"></i>
                        </a>
                        <a class="btn-floating shadow-none" href="#comingSoonCarousel" data-slide="next">
                            <i class="fa fa-chevron-right black-text"></i>
                        </a>
                    </div>
                    <!-- Slides -->
                </div>
                <!-- Carousel Wrapper -->

            </section>
        </div>
    </div>
</main>
<div th:replace="footer :: footer"/>
<script src="/js/event-user.js"></script>
</body>

</html>