<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="header :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
</head>

<body class="hidden-sn">
<!--Double navigation-->
<header th:replace="header :: header"></header>
<!--Main Layout-->
<!--Search-->
<div class="container mt-5">
    <!--Search Section-->
    <section class="p-3 pl-5 pr-5">
        <!-- Search form -->
        <form class="form-inline d-flex justify-content-center md-form form-sm">
            <!-- Search form -->
            <input class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search" aria-label="Search">
            <select class="mdb-select md-form">
                <option value="1">Component</option>
                <option value="2">Trading</option>
                <option value="3">Event</option>
            </select>
            <div>
                <button class="btn btn-rounded btn-danger font-weight-bold"><i class="fa fa-search mr-2"
                                                                               aria-hidden="true"></i>Search
                </button>
            </div>

        </form>
    </section>
    <!--End Search Section-->

    <!--End Search-->

    <!--Bread Crum Menu-->
    <div class="container">
        <nav class="breadcrumb white">
            <a class="breadcrumb-item text-danger" href="/home">Home</a>
            <a class="breadcrumb-item text-danger" href="/event">Event</a>
        </nav>
    </div>
    <!--End Bread Crum Menu-->

    <div class="container mb-5">
        <!-- Section heading -->
        <!--<h2 class="h2-responsive mb-5">Recommended Events</h2>-->
        <div id="carouselRecommendedEvents" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox" id="sliderEvent">
            </div>
        </div>
    </div>
    <!-- Controls -->
    <div class="d-flex justify-content-center">
        <a class="btn-floating shadow-none" href="#carouselRecommendedEvents" data-slide="prev">
            <i class="fa fa-chevron-left black-text"></i>
        </a>
        <a class="btn-floating shadow-none" href="#carouselRecommendedEvents" data-slide="next">
            <i class="fa fa-chevron-right black-text"></i>
        </a>
    </div>
    <!-- Controls -->

    <div class="container">
        <div class="container pt-3 pb-3 slideInUp">
            <h2 class="h2-responsive mt-4 font-weight-bold">OPEN FOR JOINING</h2>
            <!-- Section: Open for joining -->
            <section class="text-center">
                <!-- Carousel Wrapper -->
                <div id="openForJoiningCarousel" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <!-- Controls -->
                    <div class="col-12 text-md-right lead">
                        <a class="btn btn-outline-danger" href="#openForJoiningCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="btn btn-outline-danger" href="#openForJoiningCarousel" data-slide="next">
                            <i class="fa fa-chevron-right "></i>
                        </a>
                    </div>
                    <!-- Controls -->
                    <!-- Indicators -->
                    <ol id="indicatorUpcomingEvent" class="carousel-indicators">

                    </ol>
                    <!-- Indicators -->
                    <!-- Slides -->
                    <div id="sliderItemUpcoming" class="carousel-inner" role="listbox">

                    </div>
                    <!-- Slides -->
                </div>
                <!-- Carousel Wrapper -->

            </section>
            <!--End Section: Open for joining -->
        </div>
    </div>

    <!--Upcoming events-->
    <div class="container-fluid">
        <div class="container pt-3 pb-3">
            <h2 class="h2-responsive mt-4 mb-5">Upcoming events</h2>
            <!-- Card group -->
            <div class="card-group">

                <!-- Card -->
                <div class="card ml-1 mr-1 mb-4 wow slideInUp">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title">Card title</h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <!-- Date -->
                        <div class="d-flex justify-content-between w-100">
                            <p class="dark-grey-text"><i class="fa fa-calendar pr-2 text-danger ml-3"></i>27/02/2018</p>
                            <p class="dark-grey-text"><i class="fa fa-clock-o pr-2"></i>9:00AM -
                                13:00PM</p>
                        </div>
                        <!-- Location and Price -->
                        <div class="d-flex justify-content-between w-100">
                            <p class="dark-grey-text"><i class="fa fa-map-marker pr-2 text-primary ml-3"></i>HCM
                                City</p>
                            <p class="font-weight-bold dark-grey-text"><i class="fa fa-ticket pr-2"></i>100.000
                                VND</p>
                        </div>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a class="btn btn-outline-primary btn-md font-weight-bold">View More</a>
                        <a class="btn btn-outline-grey btn-md font-weight-bold disabled">Open Soon</a>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card ml-1 mr-1 mb-4 wow slideInUp">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Card title</h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <!-- Date -->
                        <div class="d-flex justify-content-between w-100">
                            <p class="dark-grey-text"><i class="fa fa-calendar pr-2 text-danger ml-3"></i>27/02/2018</p>
                            <p class="dark-grey-text"><i class="fa fa-clock-o pr-2"></i>9:00AM -
                                13:00PM</p>
                        </div>
                        <!-- Location and Price -->
                        <div class="d-flex justify-content-between w-100">
                            <p class="dark-grey-text"><i class="fa fa-map-marker pr-2 text-primary ml-3"></i>HCM
                                City</p>
                            <p class="font-weight-bold dark-grey-text"><i class="fa fa-ticket pr-2"></i>100.000
                                VND</p>
                        </div>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a class="btn btn-outline-primary btn-md font-weight-bold">View More</a>
                        <a class="btn btn-outline-grey btn-md font-weight-bold disabled">Open Soon</a>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->


            </div>
            <!-- Card group -->

        </div>
    </div>
    <!--End Upcoming events-->
</div>
<div th:replace="footer :: footer"/>
<script src="/js/event-user.js"></script>

</body>

</html>