<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="header :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
</head>

<body>
<!--Double navigation-->
<header th:replace="header :: header"></header>
    <!--Main Layout-->
    <main>
        <!-- Section: Scroll-by Menu -->
        <div class="container background-4">
            <section class="text-center pt-5 pb-5">
                <div class="container">
                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-4 smooth-scroll">
                            <a href="#eventSection" class="btn-flat w-100 black-text">
                                <i class="fa fa-calendar fa-3x text-danger"></i>
                                <h5 class="font-weight-bold mt-4 white-text">Event</h5>
                                <i class="fa fa-sort-down text-danger"></i>
                            </a>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 smooth-scroll">
                            <a href="#componentSection" class="btn-flat w-100 black-text">
                                <i class="fa fa-wrench fa-3x orange-text"></i>
                                <h5 class="font-weight-bold mt-4 white-text">Component</h5>
                                <i class="fa fa-sort-down orange-text"></i>
                            </a>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 smooth-scroll">
                            <a href="#tradingSection" class="btn-flat w-100 black-text">
                                <i class="fa fa-tag fa-3x green-text"></i>
                                <h5 class="font-weight-bold mt-4 white-text">Trading</h5>
                                <i class="fa fa-sort-down green-text"></i>
                            </a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            </div>
        </div>

        <!--End Section: Scroll-by Menu -->

        <div class="container">
            <!--Search Section-->
            <!--End Search Section-->
            <!-- Section: Event -->
            <section id="eventSection" class="magazine-section my-5">

                <!-- Section heading -->
                <h2 class="h1-responsive my-5">Event</h2>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div id="featuredNews" class="col-lg-6 col-md-12">

                        <!-- Featured news -->

                        <!-- Featured news -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div id="smallNews" class="col-lg-6 col-md-12">

                        <!-- Small news -->

                        <!-- Small news -->

                    </div>
                    <!--Grid column-->

                </div>
                <!-- Grid row -->
                <div class="d-flex justify-content-end">
                    <a href="/event">
                        <h4 class="text-danger font-weight-bold">More >></h4>
                    </a>
                </div>
            </section>
            <!-- Section: Event -->
            <!-- Section: Component-->
            <section id="componentSection" class="my-5">

                <!-- Section heading -->
                <h2 class="h1-responsive my-5">Component</h2>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.customlids.co.uk/images/agv-pista-gp-r-matt-carbon-p5154-26778_image.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Helmet
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://i.ebayimg.com/images/g/PzkAAOSwOyJX96kz/s-l300.jpg" class="img-fluid"
                                    alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Jacket
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.motorcycleshop.ie/ekmps/shops/motorcycleshop/images/oxford-spartan-starter-gear-pack-helmet-jacket-trousers-and-gloves-[3]-3324-p.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Pants
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Fourth column -->
                    <div class="col-lg-3 col-md-6">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.motorcycleshop.ie/ekmps/shops/motorcycleshop/images/oxford-spartan-starter-gear-pack-helmet-jacket-trousers-and-gloves-[3]-3324-p.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Pants
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Fourth column -->

                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.customlids.co.uk/images/agv-pista-gp-r-matt-carbon-p5154-26778_image.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Helmet
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://i.ebayimg.com/images/g/PzkAAOSwOyJX96kz/s-l300.jpg" class="img-fluid"
                                    alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Jacket
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.motorcycleshop.ie/ekmps/shops/motorcycleshop/images/oxford-spartan-starter-gear-pack-helmet-jacket-trousers-and-gloves-[3]-3324-p.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Pants
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Fourth column -->
                    <div class="col-lg-3 col-md-6">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.motorcycleshop.ie/ekmps/shops/motorcycleshop/images/oxford-spartan-starter-gear-pack-helmet-jacket-trousers-and-gloves-[3]-3324-p.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Pants
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Fourth column -->

                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.customlids.co.uk/images/agv-pista-gp-r-matt-carbon-p5154-26778_image.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Helemt
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://i.ebayimg.com/images/g/PzkAAOSwOyJX96kz/s-l300.jpg" class="img-fluid"
                                    alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Jacket
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.motorcycleshop.ie/ekmps/shops/motorcycleshop/images/oxford-spartan-starter-gear-pack-helmet-jacket-trousers-and-gloves-[3]-3324-p.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Pants
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Fourth column -->
                    <div class="col-lg-3 col-md-6">
                        <!-- Collection card -->
                        <div class="card collection-card z-depth-1-half">
                            <!-- Card image -->
                            <div class="view zoom">
                                <img src="https://www.motorcycleshop.ie/ekmps/shops/motorcycleshop/images/oxford-spartan-starter-gear-pack-helmet-jacket-trousers-and-gloves-[3]-3324-p.jpg"
                                    class="img-fluid" alt="">
                                <div class="stripe dark">
                                    <a>
                                        <p>
                                            Pants
                                            <i class="fa fa-angle-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <!-- Card image -->
                        </div>
                        <!-- Collection card -->
                    </div>
                    <!-- Fourth column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Component -->
            <!-- Section: Trading-->
            <section id="tradingSection" class="my-5">

                <!-- Section heading -->
                <h2 class="h1-responsive my-5">Trading</h2>

                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <!--Slides-->
                    <div class="carousel-inner pb-3" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">

                            <div class="col-md-4 ">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Helemt</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Mũ Bảo Hiểm</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Mũ Bảo Hiểm</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                        </div>
                        <!--/.First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">

                            <div class="col-md-4">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Mũ Bảo Hiểm</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Mũ Bảo Hiểm</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Mũ Bảo Hiểm</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                        </div>
                        <!--/.Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">

                            <div class="col-md-4">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Mũ Bảo Hiểm</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Mũ Bảo Hiểm</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col-md-4 clearfix d-none d-md-block">
                                <!-- Card -->
                                <div class="card card-cascade wider card-ecommerce">
                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
                                            class="card-img-top" alt="sample photo">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">
                                        <!-- Category & Title -->
                                        <a href="" class="text-muted">
                                            <h5>Mũ Bảo Hiểm</h5>
                                        </a>
                                        <h4 class="card-title">
                                            <strong>
                                                <a href="">Tên Sản Phẩm</a>
                                            </strong>
                                        </h4>
                                        <!-- Description -->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima
                                            veniam elit.</p>
                                        <!-- Card footer -->
                                        <div class="card-footer px-1">
                                            <span class="float-left font-weight-bold">
                                                <strong>100.000 VNĐ</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                                    Details >>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                </div>
                                <!-- Card -->
                            </div>

                        </div>
                        <!--/.Third slide-->

                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <div class="d-flex justify-content-center">
                        <a class="btn-floating btn-sm" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left black-text"></i></a>
                        <a class="btn-floating btn-sm" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right black-text"></i></a>
                    </div>
                    <!--/.Controls-->

                </div>
                <!--/.Carousel Wrapper-->
                <!--View More Button-->
                <div class="d-flex justify-content-end">
                    <a>
                        <h4 class="text-danger font-weight-bold">More >></h4>
                    </a>
                </div>

            </section>
            <!-- End Section: Trading-->

        </div>



    </main>
    <div th:replace="footer :: footer"/>
    <script src="/js/home.js">

    </script>
</body>

</html>