<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="portal-header :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike World Portal</title>
</head>

<body>

<div id="wrapper">
    <div th:replace="portal-header :: header">
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Event Management</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Event Information
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" id="formCreateEvent" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input class="form-control"
                                               th:attr="id='id',name='id',value=${id}"
                                               type="hidden">
                                        <input class="form-control" name="title" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input class="form-control" name="location" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input class="form-control" id="autocomplete" name="address" onfocus="geolocate()" required>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <div class="row">
                                            <div>
                                                <label>Register Date</label>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Start Register</label>
                                                <div class='input-group date' id='datetimepickerRegiStart'>
                                                    <input type='text' name="startRegisterDate" class="form-control"
                                                           required/>
                                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                         </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>End Register</label>
                                                <div class='input-group date' id='datetimepickerRegiEnd'>
                                                    <input type='text' name="endRegisterDate" class="form-control"
                                                           required/>
                                                    <span class="input-group-addon">
                                         <span class="fa fa-calendar"></span>
                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div>
                                                <label>Event Date</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label" for="datetimepickerStart">From</label>
                                                <div class='input-group date' id='datetimepickerStart'>
                                                    <input type='text' name="startDate" class="form-control" required/>
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label" for="datetimepickerEnd">To</label>
                                                <div class='input-group date' id='datetimepickerEnd'>
                                                    <input type='text' name="endDate" class="form-control" required/>
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Fee</label>
                                                <input type="number" class="form-control" name="fee" required>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Total Slots</label>
                                                <input type="number" class="form-control" name="totalSlots" required>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Min Slots Per Register</label>
                                                <input type="number" class="form-control" name="minSlot" required>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Max Slots Per Register</label>
                                                <input type="number" class="form-control" name="maxSlot" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" id="editor"></textarea>

                                    </div>
                                    <div class="form-group">
                                        <label>Cover Photo</label>

                                        <span class="btn btn-file btn-success">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                        Choose files <input class="form-control" type="file" id="image">
                                                </span>
                                        <table id="listImage" role="presentation" class="table table-striped">
                                            <tbody class="files">
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="cover-photo">
                                        <div class="cover-photo">
                                            <img id="blah" style="width: 50%">
                                            <div class="trans-bg"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h6 id="error" class="error" style="display: none;
                                                            margin-left: 15px; font-size: 15px; color: red;
                                                            width: 100%; float: left;"></h6>
                                    </div>

                                    <br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>
<div th:replace="portal-js :: footer"></div>
<script src="/js/event.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYf2K1LttcbRnaqY-9IfaDxBkpGxtC1Cw&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>

</html>
