<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="portal-header :: head">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <meta title="description" content="">
    <meta title="author" content="">

    <title>Bike World Portal</title>

</head>

<body>

<div id="wrapper">
    <div th:replace="portal-header :: header">
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Proposal Event Management</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Proposal Events
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>StartDate</th>
                                <th>EndDate</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                        </table>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <div th:replace="portal-js :: footer"></div>
    <script>
            const backendServer = 'http://localhost:8080';

            const loadDataTable = (events) => {
                var table = $('#dataTables-example').DataTable({
                    destroy : true,
                    data: events,
                    columns: [
                        {
                            data: null, width: "200px",
                            render: function (data, type, row) {
                                let ret = '<a href="/portal/proposal-event/' + row.id+ '">' + row.title + '</a>';
                                return ret;
                            }
                        },
                        {data: "location", width: "200px"},
                        {data: "startDate",width: "150px"},
                        {data: "endDate",width: "150px"},
                        {
                            data: null,
                            render: function (data, type, row) {
                                let ret;
                                switch (row.status) {
                                    case 1 :
                                        ret = '<span style="width: 100px" id="spanPedingStatus' + row.id + '" class="label label-default">Pending</span>';
                                        break;
                                    case 2 :
                                        ret = '<span style="width: 100px" id="spanApproveStatus' + row.id + '" class="label label-success">Approve</span>';
                                        break;
                                    case 3 :
                                        ret = '<span style="width: 100px" id="spanNotApproveStatus' + row.id + '" class="label label-danger">Not Approve</span>';
                                        break;

                                }
                                return ret;
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                let ret;
                                switch (row.status) {
                                    case 1 :
                                        ret = '<div class="dropdown">' +
                                            '  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Action\n' +
                                            '  <span class="caret"></span></button>' +
                                            '  <ul class="dropdown-menu">' +
                                            '    <li><a id="btnApprove' + row.id + '" onclick="approveEvent(' + row.id + ')">Approve</a></li>' +
                                            '    <li><a id="btnNotApprove' + row.id + '" onclick="notApproveEvent(' + row.id + ')">Not Approve</a></li>' +
                                            '  </ul>\n' +
                                            '</div>';
                                        break;
                                    case 2 :
                                        ret = '<div class="dropdown">' +
                                            '  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Action\n' +
                                            '  <span class="caret"></span></button>' +
                                            '  <ul class="dropdown-menu">' +
                                            '    <li><a id="btnApprove' + row.id + '" onclick="approveEvent(' + row.id + ')">Create Event</a></li>' +
                                            '    <li><a id="btnNotApprove' + row.id + '" onclick="notApproveEvent(' + row.id + ')">Not Approve</a></li>' +
                                            '  </ul>\n' +
                                            '</div>';
                                        break;
                                    case 3 :
                                        ret = '<div class="dropdown">' +
                                            '  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Action\n' +
                                            '  <span class="caret"></span></button>' +
                                            '  <ul class="dropdown-menu">' +
                                            '    <li><a id="btnApprove' + row.id + '" onclick="approveEvent(' + row.id + ')">Approve</a></li>' +
                                            '  </ul>\n' +
                                            '</div>';
                                        break;

                                }
                                return ret;

                                return ret;
                            }
                        }

                    ],
                    responsive: true
                });
            }

            var data ;

            const loadData = () => {
                $.ajax({
                    type: "GET",
                    url: backendServer + "/api/proposal-event",
                    dataType: 'json',
                }).done((res) => {
                    data = res.data;
                    console.table(res.data);
                    loadDataTable(res.data);
                }).fail((res) => {
                    console.log(res.message);
                    alert(status);
                });
            }

            loadData();

            function approveEvent(id) {
                console.log(id);
                $.ajax({
                    type: "GET",
                    url: backendServer + `/api/proposal-event/approve-event/` + id,
                    dataType: 'json',
                    contentType: false,
                    processData: false

                }).done((res) => {
                    console.log(res.data);
                    loadData();
                }).fail(() => {
                    console.log('propose-fail');
                });
            }

            function notApproveEvent(id) {
                console.log(id);
                $.ajax({
                    type: "GET",
                    url: `http://localhost:8080/api/proposal-event/not-approve-event/` + id,
                    dataType: 'json',
                    contentType: false,
                    processData: false

                }).done((res) => {
                    console.log(res.data);
                    loadData();
                }).fail(() => {
                    console.log('propose-fail');
                });
            }


    </script>
</div>
</body>

</html>
