<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="portal-header :: head">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <meta title="description" content="">
    <meta title="author" content="">

    <title>Bike World Portal</title>

</head>

<body>

<div id="wrapper">

    <div th:replace="portal-header :: header">
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Event Management</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">Events

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row mb-lg-5">
                            <div class="col-md-12 float-left">
                                <div class="">

                                    <a href="/portal/event/create-event" class="btn btn-primary pull-right">Create Event</a>
                                </div>
                            </div>
                        </div>

                        <div style="border-top-style: groove; border-top-radius: 0.5px; padding-top: 5px;">
                            <table width="100%" class="table table-striped table-bordered table-hover"
                                   id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>
<div th:replace="portal-js :: footer"></div>
<script>
    const backendServer = 'http://localhost:8080';

    const loadDataTable = (events) => {
        let table = $('#dataTables-example').DataTable({
            destroy: true,
            autoWidth: false,
            data: events,
            columns: [
                {data: "username", width: "200px"},
                {
                    data: null,
                    render: function (data, type, row) {
                        let ret = ((row || {}).profileId || {}).email;
                        return ret;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let ret;
                        const id = row.isActive;
                        switch (id) {
                            case 1:
                                ret = '<span class="label label-success ">Active</span>';
                                break;
                            case 0:
                                ret = '<span class="label label-default">Banned</span>';
                                break;
                        }
                        return ret;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let ret;
                        const id = row.isActive;
                        switch (id) {
                            case 1:
                                ret = '<div class="dropdown">' +
                                    '  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Choose Action\n' +
                                    '  <span class="caret"></span></button>' +
                                    '  <ul class="dropdown-menu">' +
                                    '    <li><a href="user/' + row.username + '">View Detail</a></li>' +
                                    '    <li><a  onclick="banUser(\'' + row.username + '\')">Ban</a></li>' +
                                    '  </ul>\n' +
                                    '</div>';
                                ;
                                break;
                            case 0:
                                ret = '<div class="dropdown">' +
                                    '  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Choose Action\n' +
                                    '  <span class="caret"></span></button>' +
                                    '  <ul class="dropdown-menu">' +
                                    '    <li><a href="event/' + row.username + '">View Detail</a></li>' +
                                    '    <li><a  onclick="unbanUser(\'' + row.username + '\')">Unban</a></li>' +
                                    '  </ul>\n' +
                                    '</div>';
                                ;
                                break;
                        }
                                return ret;
                    }
                }
            ],
            responsive: true
        });
        $('#dataTables-example td').css('white-space', 'initial');
    }

    const loadData = () => {
        $.ajax({
            type: "GET",
            url: backendServer + "/api/user",
            dataType: 'json',
        }).done((res) => {
            console.table(res.data);
            loadDataTable(res.data);
        }).fail((res) => {
            alert(res.message);
        });
    }

    loadData();

    banUser = (username) => {
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#delete', function(e) {
                $.ajax({
                    type: "GET",
                    url: backendServer + "/api/user/ban-user/" + username,
                    dataType: 'json',
                }).done((res) => {
                    alert(res.message);
                    console.log(res.data);
                    loadData();
                }).fail((res) => {
                    alert(res.message);
                });
            });

    }

    unbanUser = (username) => {
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#delete', function(e) {

                $.ajax({
                    type: "GET",
                    url: backendServer + "/api/user/unban-user/" + username,
                    dataType: 'json',
                }).done((res) => {
                    alert(res.message);
                    console.log(res.data);
                    loadData();
                }).fail((res) => {
                    alert(res.message);
                });
            });

    }
</script>
</body>

</html>
