<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="header :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
</head>

<body>
<!--Double navigation-->
<header th:replace="header :: header"></header>
<!--Main Layout-->
<!--Search-->
<section th:replace="header :: search-box"></section>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-2">
            <div th:replace="user :: user-sidebar" class="list-group">
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <h3>Sales Order List</h3>
                            </div>

                            <div style="border-top-style: groove; border-top-radius: 0.5px; padding-top: 5px;">
                                <table id="order-list-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr class="">
                                        <th class="th-sm">Product Name
                                            <i class="fa fa-sort float-right"
                                               aria-hidden="true"></i>
                                        </th>
                                        <th class="th-sm">Buyer
                                            <i class="fa fa-sort  float-right"
                                               aria-hidden="true"></i>
                                        </th>
                                        <th class="th-sm">Quantity
                                            <i class="fa fa-sort  float-right"
                                               aria-hidden="true"></i>
                                        </th>
                                        <th class="th-sm">Status
                                            <i class="fa fa-sort  float-right"
                                               aria-hidden="true"></i>
                                        </th>
                                        <th class="th-sm">Order Date
                                            <i class="fa fa-sort float-right "
                                               aria-hidden="true"></i>
                                        </th>
                                        <th class="th-sm">Total Price
                                            <i class="fa fa-sort float-right "
                                               aria-hidden="true"></i>
                                        </th>
                                        <th class="th-sm">Action
                                            <i class="fa fa-sort  float-right"
                                               aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"/>
<script src="/js/event-user.js"></script>
<script src="/js/order-list.js"></script>
<script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>
</body>

</html>