<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="header :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
</head>

<body>
<!--Double navigation-->
<header th:replace="header :: header"></header>
<!--Main Layout-->
<!--Search-->
<section th:replace="header :: search-box"></section>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-2">
            <div th:replace="user :: user-sidebar" class="list-group">
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered customtable" cellspacing="0" width="100%">
                                <thead>
                                <tr class="">
                                    <th class="th-sm">Event Name
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Status
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Open Date
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Join Date
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                    <th class="th-sm">Tiket Price
                                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a class="btn-link">Event Name</a></td>
                                    <td class="text-center">
                                        <h6 class="text-success">Active</h6>
                                    </td>
                                    <td>2011/04/25</td>
                                    <td>2011/04/25</td>
                                    <td>320,800 VND</td>
                                </tr>
                                <tr>
                                    <td><a class="btn-link">Event Name</a></td>
                                    <td class="text-center">
                                        <h6 class="text-danger">Canceled</h6>
                                    </td>
                                    <td>2011/04/25</td>
                                    <td>2011/04/25</td>
                                    <td>320,800 VND</td>
                                </tr>
                                <tr>
                                    <td><a class="btn-link">Event Name</a></td>
                                    <td class="text-center">
                                        <h6 class="">Done</h6>
                                    </td>
                                    <td>2011/04/25</td>
                                    <td>2011/04/25</td>
                                    <td>320,800 VND</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"/>
<script src="/js/event-user.js"></script>

</body>

</html>